body {
   font-family: helvetica;
   font-size: 16px;
   padding: 0 20px;
   color: #333;
}

.book-detail {
   padding: 10px;
   background: #E6F4FF;
   border-top: 1px solid #333666;
   border-bottom: 1px solid #333666;
   margin: 20px 0;
}

.book-detail .title {
   font-size: 18px;
   font-weight: bold;   
}

.book-detail .author {
   font-size: 14px;
   font-style: italic;
}

.book-detail .description {
   line-height: 1.5;
   margin-top: 10px;
}

.book-detail .remove {
   float: right;
   color: #B01809;
   font-size: 12px;
   opacity: 0.2;
}

.book-detail .remove:hover {
   cursor: pointer;
}

.book-detail:hover .remove {
   opacity: 1;
}