<head>
   <title>What do you know?</title>
</head>

<body>
   <h1>Books to read</h1>
   {{> reading-list}}
</body>

<template name="reading-list">
   {{#each books}}
      {{> book-detail}}
   {{/each}}
</template>

<template name="book-detail">
   <div class="book-detail">
      <div class="remove">remove</div>
      <div class="title">{{title}}</div>
      <div class="author">by {{author}}</div>
      <div class="description">{{description}}</div>
   </div>
</template>